* { box-sizing: border-box; } 

body {
    background-color: rgb(56, 56, 56); 
}

header {
    margin: 18px;
}

p {
    color: white;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    line-height: 150%;
}

h1 {
    color: white;
    margin: 0 15px 0 15px;
    font-size: 50px;
    font-family: 'Economica', sans-serif;
    filter: drop-shadow(0 0 0.75rem black);
}

h2 {
    color: white;
    font-size: 35px;
    filter: drop-shadow(0 0 0.5rem black);
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
}

h3 {
    color: white;
    font-size: 20px;
    filter: drop-shadow(0 0 0.5rem black);
    font-family: Arial, Helvetica, sans-serif;
}

.h2banner {
    background: rgb(55, 55, 55, 0.8);
    padding: 10px;
    filter: drop-shadow(0 0 0.75rem black);
}

.bg {
    width: 960px;
    height: 500px;
    background-color: rgb(56, 56, 56); 
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
}

.cardImage {
    width: 180px;
    margin: auto;
}

.content {
    margin: auto;
    text-align: center;
    position: relative;
    border: 5px solid rgb(95, 95, 95);
    filter: drop-shadow(0 0 0.75rem black);
}

.flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-puffs {
    margin: 15px 10px 15px 10px;
    width: 40px;
    filter: drop-shadow(0 0 0.85rem black);
}

.card {
    margin: 15px 5px 0 5px;
    background: rgb(55, 55, 55, 0.7);
    filter: drop-shadow(0 0 0.85rem black);
    padding: 10px;
    border: 1px solid #444;
}

.puff {
    width: 160px;
}

.d_img {
    margin: 10px 0 10px 0;
    opacity: 85%;
    cursor: pointer;
}
.d_img:hover {
    opacity: 100%;
}

.statSpan {
    color: white;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    float: right;
    line-height: 150%;
}

.statSmall {
    font-size: 14px;
    line-height: 110%;
}

.hidden {
    display: none;
}

.startButton {
    position: absolute;
    top: 150px;
    width: 100%;
    cursor: pointer;
}

.throb {
    animation-name: throb;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes throb {
    from {opacity: 60%;}
    to   {opacity: 100%; }
}

.puffSelected {
    position: absolute;
    min-width: 100px;
    min-height: 100px;
    top: 65%;
    right: 60%;
}

.battleD_stats {
    background: rgb(55, 55, 55, 0.8);
    padding: 10px;
    margin: 10px;
    border-radius: 12px;
}

.ePosition_1 {
    margin-top: 18px;
}