* {
    box-sizing: border-box;
}

body {
    background-color: rgb(56, 56, 56);
}

header {
    margin: 18px;
}

p {
    color: white;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    line-height: 150%;
}

h1 {
    color: white;
    margin: 0 15px 0 15px;
    font-size: 50px;
    font-family: 'Economica', sans-serif;
    filter: drop-shadow(0 0 0.75rem black);
}

h2 {
    color: white;
    font-size: 35px;
    filter: drop-shadow(0 0 0.5rem black);
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
}

h3 {
    color: white;
    font-size: 20px;
    filter: drop-shadow(0 0 0.5rem black);
    font-family: Arial, Helvetica, sans-serif;
}

.h2banner {
    background: rgb(55, 55, 55, 0.8);
    padding: 10px;
    filter: drop-shadow(0 0 0.75rem black);
}

.bg {
    width: 960px;
    height: 500px;
    background-color: rgb(56, 56, 56);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
}

.cardImage {
    width: 180px;
    height: 168px;
    margin: auto;
}

.content {
    margin: auto;
    text-align: center;
    position: relative;
    border: 5px solid rgb(95, 95, 95);
    filter: drop-shadow(0 0 0.75rem black);
}

.flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-puffs {
    margin: 15px 10px 15px 10px;
    width: 40px;
    filter: drop-shadow(0 0 0.85rem black);
}

.card {
    margin: 15px 5px 0 5px;
    background: rgb(55, 55, 55, 0.7);
    filter: drop-shadow(0 0 0.85rem black);
    padding: 10px;
    border: 1px solid #444;
}

.puffSize_1 {
    width: 160px;
}

.puffSize_2 {
    width: 120px;
}

.d_img {
    margin: 10px 0 10px 0;
    opacity: 85%;
    cursor: pointer;
}

.d_img_2 {
    margin: 10px 0 10px 0;
    opacity: 65%;
    cursor: pointer;
}

.d_img:hover {
    opacity: 100%;
}

.d_img_2:hover {
    opacity: 100%;
}

.statSpan {
    color: white;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    float: right;
    line-height: 150%;
}

.statSmall {
    font-size: 14px;
    line-height: 110%;
}

.hidden {
    display: none;
}

.startButton {
    position: absolute;
    top: 150px;
    width: 100%;
    cursor: pointer;
}

.throb {
    animation-name: throb;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes throb {
    from {
        opacity: 60%;
    }
    to {
        opacity: 100%;
    }
}

.breath_1 {
    animation-name: breath;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
.breath_2 {
    animation-name: breath;
    animation-duration: 1.8s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
.breath_3 {
    animation-name: breath;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
.breath_4 {
    animation-name: breath;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes breath {
    from {
        width: 156px;
    }
    to {
        width: 160px;
    }
}

.puffSelected {
    position: absolute;
    min-width: 100px;
    min-height: 100px;
    top: 65%;
    right: 55%;
}

.battleD_stats {
    background: rgb(55, 55, 55, 0.8);
    padding: 10px;
    margin: 10px;
    border-radius: 12px;
}

.e_battleD_stats {
    background: rgb(55, 55, 55, 0.8);
    padding: 10px;
    margin: 10px;
    border-radius: 12px;
}

.ePosition_1 {
    margin-top: 18px;
}

.ePosition_2 {
    position: absolute;
    display: flex;
    top: 65%;
    left: 55%;
}

.attackLeft {
    animation-name: attackLeft;
    animation-duration: 1s;
    animation-timing-function: ease;
}
@keyframes attackLeft {
    0% {
        top: 65%;
    }
    20% {
        top: 60%;
    }
    40% {
        top: 65%;
    }
    60% {
        top: 60%;
    }
    80% {
        top: 65%;
    }
    85% {
        left: 55%;
    }
    90% {
        left: 48%;
    }
    95% {
        left: 55%;
    }
    100% {
        left: 55%;
    }
}

.attackRight {
    animation-name: attackRight;
    animation-duration: 1s;
    animation-timing-function: ease;
}
@keyframes attackRight {
    0% {
        top: 65%;
    }
    20% {
        top: 60%;
    }
    40% {
        top: 65%;
    }
    60% {
        top: 60%;
    }
    80% {
        top: 65%;
    }
    85% {
        right: 55%;
    }
    90% {
        right: 48%;
    }
    95% {
        right: 55%;
    }
    100% {
        right: 55%;
    }
}

.gameOver {
    width: 100%;
    height: 490px;
    background-color: rgb(25, 25, 25, 0.9);
    padding: 60px;
}

.playAgain {
    padding: 10px;
    border-radius: 8px;
    border: 2px solid white;
    text-align: center;
    width: 100px;
    color: white;
    margin: auto;
    display: block;
    cursor: pointer;
}

#pSelected > img {
    opacity: 1;
    width: 170px;
    cursor: auto;
}

#activeEnemy > img {
    opacity: 1;
    width: 170px;
    cursor: auto;
}

#doBattleButton {
    position: absolute;
    top: 40%;
    display: flex;
    color: white;
    align-items: center;
    background: rgb(55, 55, 55, 1);
    padding: 16px 20px 18px 20px;
    border-radius: 6px;
    border: 2px solid white;
    font-size: 28px;
    letter-spacing: 1.5px;
    filter: drop-shadow(0 0 0.85rem black);
    cursor: pointer;
}

